extends ./base.jade

mixin eventListItem(event)
  tr
    td(style='vertical-align: middle;') #{event.name}
    td(style='vertical-align: middle;') #{event.showtime}
    td(style='vertical-align: middle;')
      a(href='mailto:abolten@purdue.edu') abolten@purdue.edu
              
    td(style='text-align: center;vertical-align: middle;')
      a.btn.btn-default(rel='tooltip', href='/events/#{event.uuid}', title='', data-original-title='Edit #{event.name}')
        i.fa.fa-edit
    |           
    td(style='text-align: center;vertical-align: middle;')
      a.btn.btn-default(href='/events/#{event.uuid}/delete', rel='tooltip', title='', data-original-title='Delete #{event.name}')
        i.fa.fa-times

block main-content
  .container
    .row
      .col-lg-12
        h1.page-header
          | Event Administrator 
          small
            | Moien David Tschida 
            a.label.label-info(href='my-account.php#breakdown', rel='tooltip', title='', data-original-title='Total points') 58
        ol.breadcrumb
          li
            a(href='dashboard') Dashboard
          li.active Event Administrator
    .row
      .col-lg-12
        .clearfix(style='margin-bottom: 5px;')
          a.btn.btn-success.pull-right(style='margin: 5px;', href='/events/create')
            i.fa.fa-plus
            |  Add Event
        table.table.table-hover.table-striped.table-bordered
          thead
            tr
              td Name
              |           
              td Date
              |           
              td UC
              |           
              td(colspan='2') Admin
          |       
          tbody
            each event in events
              +eventListItem(event)